<!doctype html>
<html class="no-js" lang="">
<head>
  <title>Tiffany & Joseph</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- stylesheets -->
  <%= stylesheet_link_tag "theme.css" %>
  <%= stylesheet_link_tag "bootstrap.css" %>
  <!-- javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
</head>

<body>
<!-- HEADER 09 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-semi-transparent" style="position: fixed; width: 100%; top: 0px" role="navigation">

  <div class="container-fluid">

    <a class="navbar-brand" href="#home">
      T&J
    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="#events" class="nav-link dropdown-toggle">
            Events
          </a>
        </li>
        <li class="nav-item active">
          <a href="#story" class="nav-link dropdown-toggle">
            Our Story
          </a>
        </li>
        <li class="nav-item active">
          <a href="#photos" class="nav-link dropdown-toggle" data-toggle="dropdown">
            Photos
          </a>
        </li>
        <li class="nav-item active">
          <a href="#registry" class="nav-link dropdown-toggle" data-toggle="dropdown">
            Registry
          </a>
        </li>
        <li class="nav-item active">
          <a href="#rsvp" class="nav-link dropdown-toggle" data-toggle="dropdown">
            RSVP
          </a>
        </li>
      </ul>
    </div>
  </div>

</nav>
<section id="home" class="header-09">
  <div class="flexslider-container">
    <div class="caption navbar-dark bg-semi-transparent" style="opacity: .75">
      <div class="text-center">
        <div class="box customFadeInUp">
          <h1>Tiffany & Joseph</h1>
          <h6><span>Dulany's Overlook</span></h6>
          <h6><span>Frederick, MD</span></h6>
        </div>
      </div>
    </div>
    <div class="flexslider">
      <ul class="slides">
        <li style="background-image: url(assets/banner1.jpg);"></li>
        <li style="background-image: url(assets/banner2.jpg);"></li>
      </ul>
    </div>
  </div>
</section>


<!-- Dates and Venue -->
<section id="events">
  <div class="container">

    <div class="blog-timeline-header">
      <div class="container">
        <h1></h1>
        <p class="slogan"></p>
      </div>
    </div>

    <div class="blog-timeline-wrapper">
      <div class="blog-timeline-header">
        <div class="container">
          <h1>Upcoming Events</h1>
          <p class="slogan"></p>
        </div>
      </div>
      <div class="container">

        <div class="post left">
          <div class="marker"></div>
          <div class="news" style="background-image: url('assets/jack_rose_dc.jpg");">
          <div class="entry smallish">
            <h3><%=link_to "Engagement Drinks", jack_rose_path, :style=>'color:white' %></h3>
            <h4 style="color: white">Please join us at Jack Rose</h4>
          </div>
          <footer class="clearfix">
                <span class="tag float-left">
                  <span class="ion-ios-calendar-outline"></span>
                </span>
            <span class="date float-right">21 October @ 5pm</span>
          </footer>
        </div>
      </div>

      <div class="post">
        <div class="marker"></div>
        <div class="news" style="background-image: url('assets/bridal.jpg");">
        <div class="entry smallish">
          <h3><a href="#" style="color: white">Bridal Shower</a></h3>
        </div>
        <footer class="clearfix">
                <span class="tag float-left">
                  <span class="ion-ios-calendar-outline"></span>
                </span>
          <span class="date float-right">Summer/Fall 2018</span>
        </footer>
      </div>
    </div>

    <div class="post left last">
      <div class="marker"></div>
      <div class="news" style="background-image: url('assets/love.jpg");">
      <div class="entry smallish">
        <h3><a href="#" style="color: white">Wedding</a></h3>
        <h4 style="color: white">Dulany's Overlook</h4>
      </div>
      <footer class="clearfix">
                <span class="tag float-left">
                  <span class="ion-ios-calendar-outline"></span>
                </span>
        <span class="date float-right">7 September 2018</span>
      </footer>
    </div>
  </div>
</section>

<!--About the bride and groom-->

<section id="story" class="story-09">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title">
        <h3>Our Story</h3>
        <h5>These kids are getting married!</h5>
      </div>
    </div>
      <!--div class="box">
      <p>Many things that made me always love you. Gentleness and courtesy everything can make me fly into the sky. Until probably can not think of myself before can love you. </p>
      </div>
      <div class="box">
      <img src="assets/Joey.jpg" alt="">
      </div>
      <div class="box">
      <img src="assets/Joey.jpg" alt="">
      </div>
      <div class="box">
      <p>Simplicity you showed, it can always make me happy. Serenity, honesty, happiness makes me endlessly mention your name in my mind. Thank you for everything. </p>
      </div-->

    <div align="center" class="col-md-12">
      <img src="assets/tiffy.jpg" alt="">
      <img src="assets/joey.jpg" alt="">
    </div>
    <div class="col-md-12">
      <body style="font-size:125%;">
        <br></br>
        <p style="text-indent: 5em; font-size: 15px"><tab>Tiffany and Joey first met over tacos in Eastern Market in Washington, D.C. in 2014. The date was surprisingly easy, and the conversation flowed. Joey was a little nervous and kept looking at his watch, so Tiffany hinted by asking, “What time is it?” When he apologized and admitted it was a nervous habit, Tiffany was impressed with his honesty. And relieved that he didn’t have somewhere else to be</p>
        <p style="text-indent: 5em; font-size: 15px"><tab>It turned out that both loved outdoor activities like camping and hiking, they were great travel buddies, and they shared a desire to own a dog. Tiffany taught Joey how to rock climb, and Joey taught Tiffany how to ski (with mixed results). Joey learned to appreciate the taste of olives and Tiffany learned the differences between a Ford Mustang and a Nissan GT-R—one is objectively better than the other. Together, they adopted a beautiful goof of a dog named Ruby, and look forward to spending the rest of their adventure-filled lives together.</p>
        <br></br>  
      </body>
    </div>
  </div>
</section>

<!-- Photos of us! -->

<section id="photos" class="story-09">
  <div class="container">
    <div class="col-md-12 title">
      <h3>Photos</h3>
      <h5>Our adventures so far</h5>
    </div>
  </div>
  <div class="agency-about-pics">
        <div id="photos"></div>
      </div>
</section>


<!-- Places to stay -->

<!--<section id="accomm" class="accomm-09">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-12 text-center">-->
<!--<h3>WHERE TO STAY?</h3>-->
<!--</div>-->
<!--<div class="col-md-12">-->
<!--<div class="box">-->
<!--<img src="assets/stay5.jpg" alt="">-->
<!--<h5>Hotel Penuh Kasih</h5>-->
<!--<p>Mention our names when making your reservation to recieve special booking discount.</p>-->
<!--<br>-->
<!--<p>Jl. Berbatu 67</p>-->
<!--<p>Semoga selamat, ID</p>-->
<!--</div>-->
<!--<div class="box">-->
<!--<img src="assets/stay6.jpg" alt="">-->
<!--<h5>Serangan Hati</h5>-->
<!--<p>Come together to get big discount. No Limit.</p>-->
<!--<br>-->
<!--<p>Street big 1989</p>-->
<!--<p>Terus berjalan</p>-->
<!--</div>-->
<!--<div class="box">-->
<!--<img src="assets/stay4.jpg" alt="">-->
<!--<h5>Berharap Kembali</h5>-->
<!--<p>Mention our names whe to recieve the group booking discount.</p>-->
<!--<br>-->
<!--<p>Jl. Semua indah</p>-->
<!--<p>Mantan maafkan aku yang dulu</p>-->
<!--</div>-->
<!--<div class="box">-->
<!--<img src="assets/stay3.jpg" alt="">-->
<!--<h5>2Mantan Hotels</h5>-->
<!--<p>Mention our names when making your reservation to recieve discount.</p>-->
<!--<br>-->
<!--<p>Selalu Ada Jalan</p>-->
<!--<p>2345 Bersama mu</p>-->
<!--</div>-->
<!--<div class="clearfix"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<!-- REGISTRY -->
<section id="registry" class="registry-09">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>GIVE THE GIFT OF PRESENTS</h3>
      </div>
      <div class="col-sm-6">
        <img src="assets/bbb.png" alt="">
        <p><a href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=545353496&eventType=Wedding&pwsurl=" class="btn btn-default">View Store <i class="ion-ios-arrow-right"></i></a></p>
      </div>
      <div class="col-sm-6">
        <img src="assets/amazon.png" alt="">
        <p> <a href="https://www.amazon.com/wedding/joseph-verbeck-tiffany-joslin-frederick-september-2018/registry/2V9I29CRQNBH0" class="btn btn-default">View Store <i class="ion-ios-arrow-right"></i></a></p>
      </div>
    </div>
  </div>
</section>

<!-- RSVP 09 -->
<section id="rsvp" class="rsvp-09" style="background-image: url(assets/background4.jpg);">
  <h3>Say you'll come</h3>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <p>Please let us know if you will come</p>
      </div>
      <div class="col-md-4 text-center">
        <form method="post" name="form">
          <div class="alert alert-danger" style="display:none;"> Please enter your name!</div>
          <div class="alert alert-success" style="display:none;"> Thanks for your RSVP!</div>
          <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
          </div>
          <button type="submit" class="btn btn-default btn-block submit">RSVP <i class="ion-ios-arrow-right"></i></button>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Footer-->
<div class="index-photography-footer" id="contact">
  <div class="footer-wrapper skrollr"
       data-200-top="transform: translateY(-120px);box-shadow: 0px 55px 60px rgba(0,0,0,0.3);"
       data-bottom="transform: translateY(-40px);box-shadow: 0px 0px 0px rgba(0,0,0,0.3);">
    <h3>
      Contact us!
    </h3>
    <form>
      <div class="form-group">
        <label>Your name:</label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>Your email:</label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>Tell me more about what you're looking for:</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <div class="form-actions">
        <input class="btn-shadow btn-shadow-primary" type="submit" value="Send message">
      </div>
    </form>
  </div>
  <div class="social">
    <a href="#">
      <i class="ion-social-twitter"></i>
    </a>
    <a href="#">
      <i class="ion-social-facebook"></i>
    </a>
    <a href="#">
      <i class="ion-social-instagram-outline"></i>
    </a>
    <div class="col-md-12">
      COPYRIGHT &copy; 2017 Joseph Verbeck
    </div>
  </div>
</div>


<!-- JavaScript -->
<%= javascript_include_tag "bootstrap.js" %>
<%= javascript_include_tag "theme.js" %>
<%= javascript_include_tag "pace.min.js" %>
<%= javascript_include_tag "popper.min.js" %>
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "jquery.flexslider-min.js" %>
<%= javascript_include_tag "scrollreveal.min.js" %>
<%= javascript_include_tag "style-09.js" %>

</body>

</html>